.style {
    padding-top: 100px ;
}

.hpTerbaik {
    font-size: 14px;
}

.card-img img{
   width: 180px;
   text-align: center !important;  
 }
 .card-img {
   background-color: whitesmoke;
   padding-top: 10px;
   padding-bottom: 10px;
 }
 .card-img .card{
    text-align: center !important;
    
 }
 .font {
     font-size: 50px;
 }

