.pertama {
    font-size: 13px;
  }
  .kedua {
    font-size: 13px;
  }
  .heartBeat {
    color: tomato;
  }
  .footerTigaA {
    font-size: 13px;
  }
  .footerTigaB {
    font-size: 13px;
  }
  .footerTigaC {
    font-size: 13px;
  }
  .footerTigaD {
    font-size: 13px;
  }
  /* .row {
    padding-top: 50px;
    padding-bottom: 50px;
  } */
  .playStore {
    margin-right: 20px;
  }
  .bendera {
    border-radius: 50%;
  }
  .country-id {
    margin-right: 20px;
  }
  .country-my {
    margin-right: 20px;
  }
  .country-ph {
    margin-right: 20px;
  }
  .country-sg {
    margin-right: 20px;
  }
  .country-th {
    margin-right: 20px;
  }
  .country-vn {
    margin-right: 20px;
  }
  .footer-fourth {
    margin-bottom: 20px;
  }
  
  
  